// @import 'reset-css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import './mixins';

:root {
  --grey: rgba(153, 153, 153, 1);
  --blue: rgba(73, 133, 255, 1);
  --white: rgba(255, 255, 255, 1);
  --lightGrey: rgba(246, 246, 248, 1);
  --dark: #323232;
  --black: rgba(0, 0, 0, 1);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--grey);
}
.container {
  width: 1100px;
  margin: 0 auto;
}

.border {
  @include border;
}

.custom-button {
  color: var(--white);
  padding: 13px 36px;
  border-radius: 30px;
  background-color: var(--blue);
}

.custom-title {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 146.28%;
}
